@font-face {
    font-family: 'rafaleru';
    src: url('fonts/rafale_ru-webfont.eot');
    src: url('fonts/rafale_ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rafale_ru-webfont.woff') format('woff'),
         url('fonts/rafale_ru-webfont.ttf') format('truetype'),
         url('fonts/rafale_ru-webfont.svg#rafaleru') format('svg');
         font-display: swap;
}
