@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
:root{
  /* Constants */

  /* Colours */
  --color-white: #fff;
  --color-black: #373b40;
  --font-color: #5d4b8a;
  /* --font-color: #786d93; nicer, less accessible*/

  /* Timings */
  --hover-transition-time: 0.1s;

  /* Sizes */
  --font-size: 17px;
  --bar-height: 64px;
  --page-padding: 14px;
  --page-padding-extra: 15px;

  /* Media queries */
  --screen-small: 570px;
  --screen-medium: 768px;
  --screen-large: 960px;
  --screen-small-minus-sidebar-width: 506px;

  /* Misc */
  --shadow: 0px 2px 5px 0 --color-light-grey;
  --border-radius: 10px;
}

/* For Sidebar not yet used */

/* -- Branding -- */

.logo-text {
  font-family: "ArvoBold", serif;
  font-size: 5.5rem;
  margin-left: 3.2rem;
  color: #424040;
  margin-bottom: 1rem;
}

#logo-text-navbar {
  font-family: "ArvoBold", serif;
  font-size: 4.5vw;
  /* margin-left: 3.2rem; */
  /* color: #424040; */
  /* margin-bottom: 1rem; */
}

.header-intro > p {
  /* font-family: "ArvoBold", serif; */
  font-family: "rafaleru", serif;
  /* font-family: "rafalebg", sans-serif; */
  color: var(--color-light);
  font-size: 5.5vw;
  /* text-shadow: 1px 1px 2px hotpink, 0 0 1em blue, 0 0 0.2em blue; */
  /* text-shadow: 1px 1px 2px #0f0e0f, 0 0 1em #d48bd6, 0 0 0.2em #beaddb; */
  /* text-shadow: 1px 1px 6px #fdfbfb, -1px -1px 0em #fcfafa, 2px -3px 0em #35313b; */
  /* text-shadow: 1px 1px 6px #fdfbfb, -1px -1px 0em #fcfafa, 2px -3px 0em #35313b; */
  /* text-shadow: 1px 1px 2px #0f0e0f, -1px -1px 1em #d48bd6, 2px -3px 0.2em #673ab7; */
  text-shadow: 3px -2px 2px #0f0e0f, -1px -1px 1em #d48bd6, 2px -3px 0.2em #673ab7;
  margin-bottom: 0px;
}

span#emphasis {
  color: var(--color-light);
  font-size: 7vw;
  /* text-shadow: 1px 1px 6px #fdfbfb, -1px -1px 0em #fcfafa, 2px -3px 0em #35313b; */
  /* text-shadow: 2px -3px 0em #35313b, 1px 1px 6px #fdfbfb, -1px -1px 0em #fcfafa; */
  text-shadow: 2px -1px 0em #0c0c0d73, -1.5px 0px 6px #fdfbfbc2, -1px 2px 0.5em #fcfafa;
}



/* This is closest */
.slogan-text {
  font-family: "MetropolisExtraLight", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 0.6rem;
  color: #F07F61;
}

#header-slogan-text-bold {
  font-family: "MetropolisRegular", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 1.05rem;
  /* color: #F07F61; */
  color: var(--color-dark);
  margin-top: 2px;
}

html {
  font-family: "MetropolisExtraLight", sans-serif;
  font-size: 17px;
}

body {
  /* background-color: var(--color-background); */
  font-family: "MetropolisExtraLight", sans-serif;
  font-size: var(--font-size); /*17px*/
  color: var(--font-color);
}

.stencil-font {             /*matches metropolisExtraLight 17px*/
    font-family: "rafaleru";
    font-size: 1.065rem;
    letter-spacing: 0.01rem;
}

/* #TODO change for media queries */
p {
  font-size: 1rem;
}

p.card-description {
  color: var(--font-color);
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  color: #5f08cb;
}
a,
  *:visited {
    text-decoration: none;
    color: $color-link;
  }

  a:not(.disabled) {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    font-weight: normal;
    break-after: avoid-page;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .bullet-list {
    list-style: initial;
    padding-left: 1.2em;
    margin: initial;
  }

  .page {
    padding: $page-padding ($page-padding * 2);
    padding-bottom: $page-padding * 5;
    min-height: 70vh;
  }

  .page > h1:first-child {
    margin-top: 0;
  }

  /* End sidebar css */

  .met-x-light p {
    font-family: "MetropolisExtraLight", sans-serif;
  text-transform: uppercase; font-size: x-large; letter-spacing: 1rem; } .met-light p { font-family: "MetropolisLight", sans-serif; text-transform: uppercase; font-size: x-large;
    letter-spacing: 1rem;
  }

  .met-thin p {
    font-family: "MetropolisThin", sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 1rem;
  } 

  .met-reg p {
    font-family: "MetropolisRegular", sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 1rem;
  } 

  .arvo-reg p {
    font-family: "ArvoRegular", serif;
    font-size: x-large;
  } 


  .arvo-bold p {
    font-family: "ArvoBold", serif;
    font-size: 5.5rem;
    margin-left: 3.2rem;
    color: #424040;
    margin-bottom: 1rem;
  } 

  .logo-text p {
    font-family: "ArvoBold", serif;
    font-size: 5.5rem;
    margin-left: 3.2rem;
    color: #424040;
    margin-bottom: 1rem;
  }

  .slogan-text p {
    font-family: "MetropolisExtraLight", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 1.05rem;
    color: #F07F61;
  }

  .slogan-text-two p {
    font-family: "MetropolisRegular", sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 1rem;
    color:#F07F61;
  }

  /* -- Navbar -- */ 

  .navbar-al {
    padding-top: 0px !important;
  }

  .navbar-al > .container {
    max-width: unset;
  }

  /* -- Header -- */

  .page-header-al {
    height: 50vh !important;
    /* background-position: center center; */
    /* background-position: right 35% bottom 45%; */
    /* background-size: cover; */
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0; */
  }

  #page-header-flex-container-al {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .svg-logo-container-al {
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* padding-bottom: 3.5rem; */
  }

  #header-slogan-text-bold {
    font-family: "MetropolisThin", sans-serif;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: x-large;
    letter-spacing: 0.1rem;
    /* color: #F07F61; */
    color: var(--color-light);
    margin-top: 2px;
  }

  .header-filter {
    /* background-color: var(--color-five-trans); */ 
    position: relative;
    overflow: hidden;
  }

  .header-filter:before,
  .header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left:
    0;
    top: 0;
    /* bottom: 0; */
    /* right: 0; */
    z-index: -1; 
    content: "";
    /* #NOTE paths must be absolute now im serving from the root */
    background-image: url(../img/backround-neon-sign.jpg) !important;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    opacity: 1;
    background-position-x: center;
    background-position-y: 100%;
  }

  #header-img-logo-svg {
    max-height: 95%;
    max-width: 95%;
    padding-bottom: 4rem;
  }

  /* -- Main Section -- */ 

  .main.main-raised-al {
    margin-top: -3rem;
  }

  #first-main-section-al {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  #first-main-section-al > p {
    /* text-align: justify; */
  }

  h2.title-al {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  h3.title-al {
    /* margin-top: 0rem; */
    /* margin-bottom: 0.5rem; */
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }


  .card-al {
    flex-direction: row !important;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .card-svg {
    align-self: center;
    justify-content: center;
    width: 160%;
  }

  .card-title-al {
    margin-top: 0px;
    margin-bottom: 0px;

  }
  .card-description-al {
    /* #TODO convert to rem */
    /* font-size: 14px !important; */
  }

  p.card-description-al {
    text-align: justify;
  }

  .card-body-al {
    align-self: center;
  }

  .img-raised-al {
    width: 50%;
    margin-top: -1.5rem;
  }


  /* -- SVGs -- */
  .display-none: {
    display: none !important;
  }

  .defs-only: {
    display: none !important;
  }

 /* -- neon iframes -- */ 

  .neon-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 37.04%;  /*height divided by width*/
  }

  .neon-text-container {
    /* background-color: var(--color-dark); */
    background-color: #313131;
        border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .neon-text-container > span {
    text-shadow: 0 0 15px #F08FFF, 5px 9px 5px rgba(0, 0, 0, 0.5), 0 0 10px #F08FFF, 0 0 100px #F08FFF, 0 0 500px #F08FFF;
    font-family: 'RafaleRU', Helvetica, Arial;
    font-size: 65px;
    color: #FDBAFF;
    font-size: 10vw;
  }
  
  .neon-text-container > .off {
    color: rgba(46, 46, 46, 0.61);
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 1);
  }

  






















  /* -- Media Queries -- */ 
  @media (max-width: 375px) {

    /* -- padding for header logo image -- */
    .page-header-al {
      height: 35vh !important;
    }
    #header-img-logo-svg {
      max-height: 95%;
      max-width: 95%;
      padding-bottom: 1.5rem;
    }

    .main.main-raised-al {
      margin-top: -1.5rem;
    }
  }




  /* To Edit */ 


/*     brand Colors              */

:root {
  --color-one: #f86624;    /* rgb(248,102,36) */
  --color-orange: #f86624;    /* rgb(248,102,36) */
  --color-primary: #f86624;    /* rgb(248,102,36) */
  --color-primary-dark: #d0490d;    /* rgb(248,102,36) */

  --color-two: #F9C80E;    /* rgb(249,200,14) */
  --color-yellow: #F9C80E;    /* rgb(249,200,14) */
  --color-complimentary: #F9C80E;    /* rgb(249,200,14) */

  --color-three: #ff5a5f;      /* rgb(255,90,95) */
  --color-pink: #ff5a5f;      /* rgb(255,90,95) */
  --color-highlight: #ff5a5f;      /* rgb(255,90,95) */
  --color-highlight-dark: #cc3438;      /* rgb(255,90,95) */
  
  --color-four: #662e9b;    /* rgb(102,46,155) */
  --color-purple: #662e9b;    /* rgb(102,46,155) */
  --color-four-dark: #7e099e;
  --color-ccontrast: #662e9b;    /* rgb(102,46,155) */
  --color-ccontrast-dark: #662e9b;    /* rgb(102,46,155) */

  --color-five: #43bccd;      /* rgb(67,188,205) */
  --color-five-trans:  rgba(67,188,205,0.2);
  --color-blue: #43bccd;      /* rgb(67,188,205) */
  --color-contrast: #43bccd;      /* rgb(67,188,205) */

  --color-dark: #424040;
  --color-light: #ffffff;
}

/* branding */
/* This is closest */
.logo-text {
  font-family: "ArvoBold", serif;
  font-size: 5.5rem;
  margin-left: 3.2rem;
  color: #424040;
  margin-bottom: 1rem;
}

/* This is closest */
.slogan-text {
  font-family: "MetropolisExtraLight", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 0.6rem;
    color: #F07F61;
}

#header-slogan-text-bold {
  font-family: "MetropolisRegular", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 1.05rem;
    /* color: #F07F61; */
    color: var(--color-dark);
    margin-top: 2px;
}


#page-header-flex-container-al {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header-al {
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3.5rem;
}

#header-section-al {
  padding-top: 1rem;
}


/* Taken from original css below. */

/* margin top added */
h2.title {
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}


.header-filter {
  /* background-color: var(--color-five-trans); */ 
  position: relative;
  overflow: hidden;
}

.header-filter:before,
.header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left:
  0;
  top: 0;
  /* bottom: 0; */
  /* right: 0; */
  z-index: -1; 
  content: "";
  /* #NOTE paths must be absolute now im serving from the root */
  background-image: url(../img/backround-neon-sign.jpg) !important;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 1;
  background-position-x: center;
  background-position-y: 100%;
}

/* .header-filter::before { */
/*   background: rgba(0, 0, 0, 0.5); */
/* } */

.header-filter .container {
  z-index: 2;
  position: relative;
}


/* ------------- */

.card-description-al {
  font-size: 16px;
  color: var(--color-dark);
  margin-right: auto;
}

.card-body-al{
}

/*  ------------- #NOTE this is commented out in orig below */

.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
  font-weight: 700;
  font-family: "ArvoBold", "Roboto Slab", "Times New Roman", serif;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: "ArvoBold", "Roboto Slab", "Times New Roman", serif;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  font-weight: 300;
  line-height: 1.5em;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

/* ------ SVG stuff -------- */

/* SVG hiding for clearer html */
svg.defs-only {
  display: none;
}
svg.defs-only:not(:root) {
  display: none;
}

/*Logo SVG colours */
/* #svg-logo { */
/*   fill: var(--color-light) */
/* } */

#svg-icon {
  fill: var(--color-light);
}

#svg-icon-path {
  fill: var(--color-light);
}

#svg-logo-text {
  fill: var(--color-light);
}

#header-slogan-text-bold,
#svg-slogan {
  fill: var(--color-light);
  color: var(--color-light);
}

/*img src Hexagon Icon SVG container */
.svg-badge-container {
  fill: img{ width 100%; }
}

/* Inline hexagon svg colours */
.svg-hex-laptop-dark-f {
  fill: var(--color-primary);
}
.svg-hex-laptop-light-f {
  fill: var(--color-dark);
}
.svg-hex-mobile-dark-fs {
  stroke: var(--color-dark);
  fill: var(--color-dark);
}
.svg-hex-mobile-light-f {
  fill: var(--color-dark);
}
.svg-hex-mobile-light-s {
  fill: var(--color-dark);
}
.svg-hex-mobile-light-fs {
  fill: var(--color-yellow);
  stroke: var(--color-yellow);
}
.svg-hex-mobile-light-f-dark-s {
  fill: var(--color-light);
  stroke: var(--color-dark);
}
.svg-hex-mobile-white-f-dark-s {
  fill: white;
  stroke: var(--color-dark);
}
.svg-hex-devices-hex-dark-s {
  stroke: var(--color-dark);
}
.test {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}
.svg-hex-serverslot1-light-fs {
  fill: var(--color-dark);
  stroke: var(--color-light);
}
.svg-hex-server-dark-fs {
  fill: var(--color-primary);
  stroke: var(--color-dark);
}
.svg-hex-keyboard-dark-f {
  fill: var(--color-dark);
}

#hosting-text {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

/* SVG positioning inside card */
.card-svg {
  justify-content: center;
}

/* Svg animations */

#circle1 {
  animation: pulse 5s infinite alternate;
  animation-delay: 1s;
}

#circle2 {
  animation: pulse 5s infinite alternate;
  animation-delay: 2s;
}

#circle3 {
  animation: pulse 5s infinite alternate;
  animation-delay: 3s;
}

#circle4 {
  animation: pulse 5s infinite alternate;
  animation-delay: 4s;
}

@keyframes pulse {
  0% {
    fill: var(--color-dark);
    stroke: var(--color-dark);
  } 
  20% {
    fill: var(--color-white);
    stroke: var(--color-dark);
  }
  90% {
    fill: var(--color-white);
    stroke: var(--color-dark);
  } 
  100% {
    fill: var(--color-dark);
    stroke: var(--color-dark);
  } 
}


/* Sections with edited styling */

.info-al {
  /* max-width: 360px; */
  /* margin: 0 auto; */
  padding: 70px 0 30px;
}

h4.info-title-al {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    /* margin-bottom: 12px; */
    /* padding-bottom: 15px; */
}

h4.info-title-l2-al {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 12px;
    padding-bottom: 15px;
}

.p-al {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
}

.card.featured-card-al {
  margin-top: 75px;
}

#featured-card-header-primary {
  font-family: "ArvoBold", "Roboto Slab", "Times New Roman", serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  /* background: linear-gradient(60deg, #26c6da, #0097a7); */
  /* background: linear-gradient(60deg, #f2d0f2, #ca5cc2); */
  /*   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(193, 2, 169, 0.89); */
    background: linear-gradient(60deg, #dac1db, #b951b1);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(213, 29, 196, 0.8);
}

#featured-card-header-secondary {
  font-family: "ArvoBold", "Roboto Slab", "Times New Roman", serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  /* background: linear-gradient(60deg, #26c6da, #0097a7); */
    /* background: linear-gradient(60deg, #98bfe8, #4271cc); */
    /* box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(1, 79, 227); */
    /* background: linear-gradient(60deg, #708fc8, #3954a8); */
        background: linear-gradient(60deg, #8ca6d4, #3954a8);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(1, 79, 227, 0.8);
}

#featured-card-header-tertiary {
  font-family: "ArvoBold", "Roboto Slab", "Times New Roman", serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
    background: linear-gradient(60deg, #8e60ba, #3e315e);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(108, 5, 201, 0.8);
}


h4.card-title-al {
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    font-size: 20px;
}

a.btn.btn-primary.al-btn-primary {
    color: #fff;
    /* background-color: #9c27b0; -- orig*/
    /* background-color: #cc77c7; -- matching header */
    /* background-color: #6f8dc7; */
    /* border-color: #6f8dc7;  -- in secondary*/
    /* border-color: #9c27b0; */
    /* color: #9a4693; */
    /* background-color: #ffffff; */
    /* box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12); */ 
    /* --abv works with pink not blue*/
    /* box-shadow: 0 2px 2px 0 rgba(95, 135, 197, 0.2), 0 3px 1px -2px rgba(37, 78, 159, 0.5), 0 1px 5px 0 rgba(44, 56, 125, 0.2); -- matches secondary */
    color: #d286d3;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(215, 147, 216, .2), 0 1px 5px 0 rgba(67, 17, 76, 0.12);
    font-weight: bold;
}

a.btn.btn-primary.al-btn-secondary {
    color: #fff;
    color: #4d7bcf;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(39, 47, 176, 0.14), 0 3px 1px -2px rgba(67, 102, 235, 0.2), 0 1px 5px 0 rgba(19, 34, 121, 0.12);
    font-weight: bold;
  }

a.btn.btn-primary.al-btn-tertiary {
    color: #fff;
        color: #72509b;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(61, 18, 125, 0.14), 0 3px 1px -2px rgba(102, 67, 235, 0.2), 0 1px 5px 0 rgba(42, 19, 121, 0.12);
    font-weight: bold;
  }

  /* -----cards with tabs --- */
  
.tab-card-header-secondary {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(133, 90, 175) !important;
    background: linear-gradient(60deg, #8b5eb7, #40325f) !important;
  }

.tab-card-header-primary {
background: linear-gradient(60deg, #cf9dcd, #ba53b2) !important;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(156, 39, 176, 0.6) !important;
}


body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  /* background-color: #fafafa; */
  /* background-color: var(--color-blue) ; */
  /* background-color: var(--color-five-trans) ; */

}

body {
  background-color: #eee;
  color: var(--color-dark);
  font-weight: 300;
}


.serif-font {
  font-family: "ArvoBold", "Roboto Slab", "Times New Roman", serif;
}

.page-header {
  height: 70vh;
  background-position: center center;
  background-position: right 35% bottom 45%;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
}


/* .header-filter { */
/*   /1* background-color: var(--color-five-trans); *1/ */ 
/*   position: relative; */
/*   overflow: hidden; */
/* } */

/* .header-filter:before, */
/* .header-filter:after { */
/*   position: absolute; */
/*   z-index: 1; */
/*   width: 100%; */
/*   height: 100%; */
/*   display: block; */
/*   left: */
/*   0; */
/*   top: 0; */
/*   /1* bottom: 0; *1/ */
/*   /1* right: 0; *1/ */
/*   z-index: -1; */ 
/*   content: ""; */
/*   /1* #NOTE paths must be absolute now im serving from the root *1/ */
/*   background-image: url(../img/background-collage.png) !important; */
/*   background-repeat: no-repeat; */
/*   background-position: 50% 0; */
/*   background-size: cover; */
/*   opacity: 0.2; */
/*   background-position-x: center; */
/*   background-position-y: 40%; */
/* } */

/* /1* .header-filter::before { *1/ */
/* /1*   background: rgba(0, 0, 0, 0.5); *1/ */
/* /1* } *1/ */

/* .header-filter .container { */
/*   z-index: 2; */
/*   position: relative; */
/* } */

.clear-filter::before {
  background: none;
}


.card .card-header-primary,
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, var(--color-primary), var(--color-primary-dark));
}
