:root {
  /* Constants */

  /* Colours */
  /* --font-color: #5d4b8a; */
  /* --font-color: #786d93; nicer, less accessible*/
  --font-color: #363636;

  --color-dark: #424040;
  --color-light: #ffffff;
  --color-white: #ffffff;

  --color-neon-pink: #FDBAFF;
  /* --color-primary: #75529f;   /*purple*/
  --color-primary: #5c2d94;   /*purple*/
  --color-secondary: #e56cdf; /*pink*/
  --color-tertiary: #1b065e; /*blue*/
  --color-highlight: #16BAC5; /*teal*/

  --sidebar-width: 240px;
}


html {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--font-color);
  text-align: left;
  background-color: #fafafa;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  color: #363636;
}

.header-page-sidebar-container {
  display: flex;
}

.central-content {
  padding: var(--page-padding);
  padding-top: 90px;
}



/* Navigation */


.nav-container {
  /* position: relative; */
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  flex-direction: row;
  background-color: transparent;
  padding-top: 25px; */
  display: flex;
  flex-direction: row-reverse;
}

.navbar-logo-top {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: black;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--page-padding);
  position: fixed;
  width: 100vw;
  /* width: 100%; */
  /* z-index: -1; */
  height: var(--sidebar-height); /*50px*/
}

.sidebar {
  /* background-color: var(--color-black); */
  /* background-color: transparent; */
  color: var(--color-white);
  display: inline-block;
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  transition: transform ease var(--hover-transition-time);
  z-index: 700;
}

/* .nav-container .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} */
.sidebar-hamburger-image {
  --size: 25px;
  padding-top: 2px;
  width: var(--size);
  height: var(--size);
  display: inline-block;
}

/* .sidebar-logo {
  --size: 35px;
  width: var(--size);
  height: var(--size);
} */

.expanded-sidebar-container {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.close-arrow-image {
  float: right;
  padding: var(--page-padding);
}


.sidebar-group.sidebar-group-padding-top {
  padding-top: 40px;
}

.sidebar-group {
  margin: var(--page-padding 0);
  background-color: var(--color-black);
}


.sidebar:not(:focus-within) {
  transform: translate(calc(var(--sidebar-width) - 40px));
  /* transform: translate(200px); */
  /* TODO length of icon and of margin not 190 */
}

.sidebar:focus-within > div.sidebar-container > a.sidebar-header > div.hamburger-image {
  display: none
}


/* 
.sidebar-group h2 {
  margin-top: 0;
  color: var(--color-grey);
  font-size: var(--font-size);
  text-transform: uppercase;
  padding-left: var(--page-padding);
}

.sidebar-group a {
  display: block;
  padding: var(--half-page-padding) var(--page-padding);
  color: var(--color-white);
  transition: background-color var(--hover-transition-time);
}

.sidebar-group a:hover {
  background-color: var(--color-light-black);
  color: pink;
}
 */

/* Header */
.header-filter {
  position: relative;
  background-image: url(../img/backround-neon-sign-optimised-3000.jpg) !important;
}

.header-filter:before,
.header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.header-filter::before {
  background: rgba(0, 0, 0, 0.5);
}

.header-filter .container {
  z-index: 2;
  position: relative;
}

.page-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}
.section {
    padding: 30px 0px;
}

.info p,
p.info,
h4.card-description,
p.card-description,
h5.description,
h4.description,
li.card,
.card li,
p.description {
  color: #363636;
}

a {
  color: #7040aa;
  text-decoration: none;
}
#ichat{
    color: #00bcd4;
  font-size: 3.85rem;
}

.card.bg-rose {
  /* background: linear-gradient(60deg, #ec407a, #1b065e); */
  background: linear-gradient(60deg, var(--color-primary), var(--color-tertiary));
}

.nav-pills.nav-pills-rose .nav-item .nav-link.active {
  background-color: var(--color-primary);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(118, 30, 233, 0.6);
}


.nav-pills.nav-pills-rose .nav-item .nav-link.active, .nav-pills.nav-pills-rose .nav-item .nav-link.active:focus, .nav-pills.nav-pills-rose .nav-item .nav-link.active:hover {
    background-color: var(--color-primary);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(118, 30, 233, 0.6);
    color: #fff;
}


.btn.btn-rose {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    box-shadow: 0 2px 2px 0 rgba(118, 30, 233, 0.14), 0 3px 1px -2px rgba(118, 30, 233, 0.2), 0 1px 5px 0 rgba(118, 30, 233, 0.12);
}

.btn.btn-rose:hover {
    box-shadow: 0 14px 26px -12px rgba(118, 30, 233, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(118, 30, 233, 0.2);
}

.btn.btn-rose:hover {
color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

.contact-form {
  text-align: left
}

/* -- END TO CHANGES TO THEME CSS OVERWRITTEN -- */ 

/* -- NAVBAR -- */

.deesign-font {
  font-family: "ArvoBold", serif;
}

/* NAVBAR SCROLLING */

#pricing-icon i {
  font-size: 14px;
  font-weight: 900;
}

/* -- END NAVBAR -- */

/* -- HEADER -- */

.header-filter-neon {
  background-image: url(../img/backround-neon-sign-optimised-3000.jpg) !important;
}

.no-link-styling {

}

div.header-intro  p {
  color: var(--color-light);
  font-size: 5vw;
  text-shadow: 3px -2px 2px #0f0e0f, -1px -1px 1em #d48bd6, 2px -3px 0.2em #673ab7;
  margin-bottom: 0px;
  line-height: 1.25;
  font-weight: 400;
  /* font-family: 'RafaleRU', Helvetica, Arial; */
  font-family: Helvetica, "Roboto", Arial;
}

span.emphasis {
  color: var(--color-light);
  font-size: 7vw;
  /* text-shadow: 2px -3px 0em #35313b, 1px 1px 6px #fdfbfb, -1px -1px 0em #fcfafa; */
  text-shadow: 2px -1px 0em #0c0c0d73, -1.5px 0px 6px #fdfbfbc2, -1px 2px 0.5em #fcfafa;
}

/* p#testp { */
/*   font-family: 'Roboto', Helvetica, Arial; */
/* } */

h4#header-subtitle {
  /* text-align: center; */
  color: white;
  font-weight: bolder;
 }

#header-material-icon-heart {
      font-size: 17px;
    position: relative;
    top: 2px;
}

 #btn-header {
   width: 180px;
   margin: 0 auto;
   display: block;
   color: #fff;
    /* background-color: var(--color-primary); */
    /* border-color: var(--color-primary); */
    /* box-shadow: 0 2px 2px 0 #75529f24, 0 3px 1px -2px #75529f33, 0 1px 5px 0 #75529f1f; */
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
    box-shadow: 0 2px 2px 0 #180f2424, 0 3px 1px -2px #01021733, 0 3px 5px 0 #00000e1f;
}
 
/* -- END HEADER -- */

/* -- SIGNPOST (FIRST) SECTION -- */

#ichat {
  color: var(--color-tertiary);
}

#itick {
  color: var(--color-highlight);
}

#iprint {
  color: var(--color-secondary);
}
/* -- END SIGNPOST (FIRST) SECTION -- */

 /* -- NEON SIGNS -- */

.neon-text-container {
  /* background-color: var(--color-dark); */
  background: unset !important;
  background-color: #313131 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  line-height: 1.5;
}

.neon-text-container.banner {
  background: unset !important;
  background-color: #313131 !important;
  line-height: 3.5;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.neon-text-container > span {
  text-shadow: 0 0 15px #F08FFF, 5px 9px 5px rgba(0, 0, 0, 0.5), 0 0 10px #F08FFF, 0 0 100px #F08FFF, 0 0 500px #F08FFF;
  font-weight: 400;
  font-family: 'RafaleRU', Helvetica, Arial;
  font-size: 65px;
  color: var(--color-neon-pink);
  font-size: 10vw;
}

.neon-text-container > .off {
  color: rgba(46, 46, 46, 0.61);
  text-shadow: 7px 7px 5px rgba(0, 0, 0, 1);
}

 /* -- END NEON SIGNS -- */ 

/*  -- PRICING BANNER and CARD SECTION -- */ 


  /* #TODO change from px to em */
.neon-text-container.banner {
  margin-top: -30px;
}

.main.main-raised.after-banner {
  margin-top: -30px;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 10px auto;
}
.card li {
      color: #999;
    text-align: center;
    padding: 12px 0;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 0px;
    border-bottom: 1px solid hsla(0,0%,60%,.3);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(153, 153, 153, 0.3);
}

.card.bg-rose li {
  color: white;
    border-color: #ffffff4d;
    border-top-color: rgba(255, 255, 255, 0.3);
    border-right-color: rgba(255, 255, 255, 0.3);
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-left-color: rgba(255, 255, 255, 0.3);
}

ul.nav.nav-pills {
  justify-content: center;
}

.card small {
  font-size: 0.5em;
}

.list-scroll ul {
  height:200px; 
  /* width:18%; */
  overflow:hidden; 
  overflow-y:scroll;
}

 /* Webkit required so that on all platforms and browswers, scrollbar always visible */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/*  -- END PRICING BANNER and CARD SECTION -- */ 


 .btn.btn-tertiary {
   width: 180px;
   margin: 0 auto;
   display: block;
   color: #fff;
    /* background-color: var(--color-primary); */
    /* border-color: var(--color-primary); */
    /* box-shadow: 0 2px 2px 0 #75529f24, 0 3px 1px -2px #75529f33, 0 1px 5px 0 #75529f1f; */
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
    box-shadow: 0 2px 2px 0 #180f2424, 0 3px 1px -2px #01021733, 0 3px 5px 0 #00000e1f;
}

.btn.btn-tertiary:hover {
    color: #fff;
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
    border-top-color: rgb(112, 28, 126);
    border-right-color: rgb(112, 28, 126);
    border-bottom-color: rgb(112, 28, 126);
    border-left-color: rgb(112, 28, 126);
}

#got-cha {
  display: none;
}

.highlight-text {
  color: var(--color-tertiary);
}
