:root {
  /* Colours */
  /* --font-color: #5d4b8a; */
  /* --font-color: #786d93; nicer, less accessible*/
  --font-color: #363636;
  --color-dark: #424040;
  --color-light: #ffffff;
  --color-white: #ffffff;
  --color-neon-pink: #fdbaff;
  /* --color-primary: #75529f;   /*purple*/
  --color-primary: #5c2d94; /*purple*/
  --color-secondary: #e56cdf; /*pink*/
  --color-tertiary: #1b065e; /*blue*/
  --color-highlight: #16bac5; /*teal*/
  --color-black: #373b40;
  --color-light-black: lighten(--color-black, 7);
  --color-grey: #979797;
  --color-light-grey: #c8cfd6;
  /* // Color mappings */
  --color-background: --color-faint-grey;
  --color-border: --color-light-grey;
  /* // Timings */
  --hover-transition-time: 0.1s;
  --two-times-hover-transition-time: 0.2s;
  /* // Sizes */
  --sidebar-width: 240px;
  --sidebar-height: 80px;
  --page-padding: 0.875rem;
  --line-padding: 0.625rem;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--font-color);
  text-align: left;
  background-color: #fafafa;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #7040aa;
}

p {
  font-size: 16px;
  color: #363636;
}

.deesign-font {
  font-family: "ArvoBold", serif;
}

.central-content {
}

/* Navigation */

.nav-container {
  /* position: relative; */
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  flex-direction: row;
  background-color: transparent;
  padding-top: 25px; */
  display: flex;
  flex-direction: row-reverse;
}

.nav-top-container {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  /* color: black; */
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--page-padding);
  position: fixed;
  width: 100vw;
  /* width: 100%; */
  z-index: 2;
  height: var(--sidebar-height); /*50px*/
}

.nav-logo.deesign-font {
  color: white !important;
  position: relative;
  color: inherit;
  height: 50px;
  font-size: 1.125rem;
  line-height: 30px;
  padding: var(--line-padding);
  padding-left: 0px;
  text-shadow: 7px -2px 2px #0f0e0f, -1px -1px 1em #d48bd6, 2px -3px 0.2em #673ab7;
  z-index: 4;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  overflow: auto;
}

.sidebar-header {
  display: block;
  padding: var(--page-padding);
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--page-padding) * 1.1);
}

.sidebar-header h2 {
  display: inline-block;
  margin: 0 0 0 var(--page-padding);
  color: var(--color-white);
}

.header-page-sidebar-container {
  display: flex;
}

.sidebar {
  /* background-color: var(--color-black); */
  /* background-color: transparent; */
  color: var(--color-white);
  display: inline-block;
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  transition: transform ease var(--hover-transition-time);
  z-index: 700;
}

/* .nav-container .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} */
.hamburger-image {
  padding: var(--line-padding);
  padding-left: 0px;
  /* display: inline-block; */
}

.hamburger-image > img {
  width: 32px;
  padding-top: 5px;
}
/* .sidebar-logo {
  --size: 35px;
  width: var(--size);
  height: var(--size);
} */

.expanded-sidebar-container {
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  width: 212px;
  justify-content: space-between;
  overflow: scroll;
}

.close-arrow-image {
  float: right;
  padding: var(--page-padding);
}

.close-arrow-image > img {
  padding-top: var(--line-padding);
  width: 32px;
}

.sidebar-group.sidebar-group-main-menu {
  /* padding-top: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
}

.sidebar-group {
  margin: var(--page-padding 0);
  background-color: var(--color-white);
  /* overflow: scroll; */
}

ul.sidebar-list-container {
  margin: unset;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 50vh;
  padding: var(--page-padding);
}

li.sidebar-li-item {
  padding: var(--line-padding);
}

.sidebar-link {
  color: rgb(85, 26, 139);
}

.material-icons {
  margin-top: -7px;
  top: 4px;
  position: relative;
  margin-right: 3px;
}

.icon-social-media-small {
    background-color: transparent;
    color: #999999;
    box-shadow: none;
    border-color: #999999;
    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
    padding: 24px;
}

#pricing-icon i {
  font-size: 17px;
  font-weight: 900;
}

#pound-sign-r {
  padding-right: 8px;
}

a#twitter-icon.sidebar-link {
  font-size: 24px;
  font-weight: 900;
}

.sidebar-footer {
  padding-top: 25vh;
}

.sidebar-copyright {
  padding-left: 10px;
}

.sidebar:not(:focus-within) {
  transform: translate(calc(var(--sidebar-width) - 60px));
  /* transform: translate(200px); */
  /* TODO length of icon and of margin not 190 */
}

.sidebar:focus-within
  > div.sidebar-container
  > a.sidebar-header
  > div.hamburger-image {
  display: none;
}

/* 
.sidebar-group h2 {
  margin-top: 0;
  color: var(--color-grey);
  font-size: var(--font-size);
  text-transform: uppercase;
  padding-left: var(--page-padding);
}

.sidebar-group a {
  display: block;
  padding: var(--half-page-padding) var(--page-padding);
  color: var(--color-white);
  transition: background-color var(--hover-transition-time);
}

.sidebar-group a:hover {
  background-color: var(--color-light-black);
  color: pink;
}
 */

/* -- HEADER -- */
.header-filter {
  position: relative;
  background-image: url(../img/backround-neon-sign-optimised-3000.jpg) !important;
}

.header-filter:before,
.header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.header-filter::before {
  background: rgba(0, 0, 0, 0.5);
}

.header-filter .header-container {
  z-index: 2;
  position: relative;
}

.page-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
}

/* .header-filter-neon {
  background-image: url(../img/backround-neon-sign-optimised-3000.jpg) !important;
} */

div.header-intro p {
  color: var(--color-light);
  font-size: 5vw;
  text-shadow: 3px -2px 2px #0f0e0f, -1px -1px 1em #d48bd6,
    2px -3px 0.2em #673ab7;
  margin-bottom: 0px;
  line-height: 1.25;
  font-weight: 400;
  /* font-family: 'RafaleRU', Helvetica, Arial; */
  font-family: Helvetica, "Roboto", Arial;
  margin-top: 0.5rem;
  line-height: 1.5em;
  padding-left: calc(var(--page-padding) * 2);
  padding-right: var(--page-padding);
}

span.emphasis {
  color: var(--color-light);
  font-size: 7vw;
  /* text-shadow: 2px -3px 0em #35313b, 1px 1px 6px #fdfbfb, -1px -1px 0em #fcfafa; */
  text-shadow: 2px -1px 0em #0c0c0d73, -1.5px 0px 6px #fdfbfbc2,
    -1px 2px 0.5em #fcfafa;
}

h4#header-subtitle {
  /* text-align: center; */
  color: white;
  /* font-weight: bolder; */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
  padding-left: calc(var(--page-padding) * 2);
  padding-right: var(--page-padding);
  padding-top: var(--page-padding);
  font-size: 1.125rem;
  line-height: 1.5em;
  font-weight: 400;
}

#header-material-icon-heart {
  font-size: 17px;
  position: relative;
  top: 2px;
}

#btn-header {
  text-align: center;
  width: 180px;
  margin: 0 auto;
  display: block;
  color: #fff;
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  box-shadow: 0 2px 2px 0 #180f2424, 0 3px 1px -2px #01021733,
    0 3px 5px 0 #00000e1f;
}

/* -- END HEADER -- */

/* -- Main Page Content -- */

.main-raised {
  margin-top: -4rem;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  position: relative;
  z-index: 3;
  padding: var(--page-padding);
  text-align: center;
}

.main-raised.after-banner {
  margin-top: -2rem;
}
/* .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */

.section-container {
  padding-top: calc(var(--page-padding) * 1);
  padding-bottom: calc(var(--page-padding) * 2);
  display: flex;
  flex-direction: column;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 576px) {
  .section-container {
    max-width: 540px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 768px) {
  .section-container {
    max-width: 720px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 992px) {
  .section-container {
    max-width: 960px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 1200px) {
  .section-container {
    max-width: 1140px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.unset-padding-top {
  padding-top: unset !important;
}

.unset-margin-top {
  margin-top: unset !important;
}

.unset-padding-bottom {
  padding-bottom: unset !important;
}

.unset-margin-bottom {
  margin-bottom: unset !important;
}

.section-full-width {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 768px) {
  .section-full-width {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    /* flex: 0 0 66.666667%;
    max-width: 66.666667%;
    This was col md 8, I prefer col md 10 */
  }
}

.section-half-width {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: centre !important;
}

@media (min-width: 768px) {
  .section-half-width {
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
}

.heading {
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 2.25rem;
  margin-top: 30px;
  min-height: 32px;
  color: #3c4858;
  text-decoration: none;
}

.section {
  padding-top: calc(var(--page-padding) * 1);
  padding-bottom: calc(var(--page-padding) * 2);
}

.section .description {
  color: #363636;
  font-size: 1.0625rem;
  line-height: 1.55em;
  margin-bottom: 15px;
  font-weight: 400;
}

.section-row-container {
  /* display: flex; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .col-in-row {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.col-in-row {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-in-row-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-in-row-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.info {
  max-width: 360px;
  margin: 0 auto;
  padding: 42px 0 30px;
}

.info > .icon > i {
  font-size: 3.85rem;
}

#ichat {
  color: var(--color-tertiary);
}

#itick {
  color: var(--color-highlight);
}

.info-title {
  font-family: "Roboto Slab", "Times New Roman", serif;
  color: #3c4858;
  margin: 1.75rem 0 0.875rem;
}

#iprint {
  color: var(--color-secondary);
}

.neon-text-container {
  /* background-color: var(--color-dark); */
  background: unset !important;
  background-color: #313131 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  line-height: 1.5;
}

.neon-text-container.banner {
  background: unset !important;
  background-color: #313131 !important;
  line-height: 3.5;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: -30px;
  text-align: center;
}

.neon-text-container > span {
  text-shadow: 0 0 15px #f08fff, 5px 9px 5px rgba(0, 0, 0, 0.5),
    0 0 10px #f08fff, 0 0 100px #f08fff, 0 0 500px #f08fff;
  font-family: "RafaleRU", Helvetica, Arial;
  font-size: 65px;
  color: #fdbaff;
  font-size: 10vw;
}

.neon-text-container > .off {
  color: rgba(46, 46, 46, 0.61);
  text-shadow: 7px 7px 5px rgba(0, 0, 0, 1);
}


/* -- TAB PANE -- */

.tab-pane .row {
  /* margin-left: unset;
  margin-right: unset; */
}

.text-center {
  text-align: center !important;
}

ul.tab-pane-nav-container.tab-btn {
  display: flex;
  justify-content: center;
}

.tab-btn:not(.flex-column) .nav-item + .nav-item:not(:first-child) {
  margin-left: 5px;
}

.tab-btn.flex-column .nav-item + .nav-item {
  margin-top: 5px;
}

.tab-btn .nav-item .nav-link {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555;
  transition: all 0.3s;
  border-radius: 30px;
  padding: 10px 15px;
}

.tab-btn .nav-item .nav-link:hover {
  background-color: rgba(200, 200, 200, 0.2);
}

.tab-btn .nav-item .nav-link.active-show {
  color: #fff;
  background-color: var(--color-primary);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2),
    0 13px 24px -11px rgba(156, 39, 176, 0.6);
}

.tab-btn .nav-item i {
  display: block;
  font-size: 30px;
  padding: 15px 0;
}

.nav-link {
  display: block;
}

.tab-pane {
  display: none;
}

/* NB THIS WAS CRITICAL DESPITE USING FLEX EVERYWHERE ELSE */
.tab-pane.active-show {
  display: block;
}

.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: transparent;
  box-shadow: none;
  font-size: .875rem;

  align-items: center;
}


.card .card-body {
  padding: 0.9375rem 1.875rem;
}

.card-plain .card-body {
  padding-left: 5px;
  padding-right: 5px;
}

.card-category.text-info {
  margin-top: 10px;
  color: #00bcd4 !important;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}


.card ul {
  list-style: none;
  /* padding: 0; */
  margin: 10px auto;
}

.card li {
      color: #999;
    text-align: center;
    padding: 12px 0;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 0px;
    border-bottom: 1px solid hsla(0,0%,60%,.3);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(153, 153, 153, 0.3);
}

.card.bg-rose {
  background: linear-gradient(60deg, var(--color-primary), var(--color-tertiary));
  border-radius: 6px;
  color: #fff;
}

.card.bg-rose li {
  color: white;
  border-color: #ffffff4d;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-right-color: rgba(255, 255, 255, 0.3);
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-left-color: rgba(255, 255, 255, 0.3);
}

.card-title {
  margin-top: 0.625rem;
  color: #3c4858;
  text-decoration: none;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  margin-bottom: 0.75rem;
  font-size: 3.3125rem;
  line-height: 1.15em;
}

h4.card-title {
  font-size: 1.125rem;
}

.bg-rose .card-title {
  color: white;
}

.card small {
  font-size: 0.5em;
}

.list-scroll ul {
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  position: relative;
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
}


.btn.btn-rose {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 2px 2px 0 rgba(118, 30, 233, 0.14), 0 3px 1px -2px rgba(118, 30, 233, 0.2), 0 1px 5px 0 rgba(118, 30, 233, 0.12);
}

.btn.btn-rose:hover {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn.btn-rose:hover {
  box-shadow: 0 14px 26px -12px rgba(118, 30, 233, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(118, 30, 233, 0.2);
}

.btn.btn-white, .btn.btn-white:focus, .btn.btn-white:hover {
  background-color: #fff;
  color: #999999;
}

.btn:hover {
box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn.btn-round {
  border-radius: 30px;
}

.avatar-img {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 50% !important;
    max-width: 100%;
    height: auto;
}